@page
@model HealthWatch360.Pages.HealthReports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HealthReport[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HealthReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HealthReportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HealthReportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HealthReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
